@charset "utf-8";
/* CSS Document */
h1 {
    background-color: #2b2b3b;
	font-family: Arial, Helvetica, sans-serif;
	text-align:center;
  font-size: 200%;
}
h2 {
  background-color: #2b2b3b;
font-family: Arial, Helvetica, sans-serif;
text-align:center;
font-size: 150%;
}
h3 {
  font-variant: small-caps;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.renders > div{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

}

.renders > div:nth-child(2){
        margin: 0 2em;
}

a:link, a:visited {
    background-color: #303036;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.tabbar{
  width: 100%;
  background-color: #333333;
}

.button{
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 4px;
}

.testbutton{
    background-color: #4D4D4D;
    color: white;
    border: 3px solid gray;
}

.testbutton:hover {
    background-color: black;
    color: #b3ffff;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

li a:hover {
    background-color: #505062;
}


body {
    background-image: url(litblue1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
	  color: white;
}

footer{
  text-align: center;
}
