@charset "utf-8";
/* CSS Document */
h1 {
    background-color: #4D4D4D;
	font-family: Arial, Helvetica, sans-serif;
	text-align:center;
}

a:link, a:visited {
    background-color: #80bfff;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.tabbar{
  width: 100%;
  background-color: #333333;
}

.button{
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 4px;
}

.testbutton{
    background-color: #4D4D4D;
    color: white;
    border: 3px solid gray;
}

.testbutton:hover {
    background-color: black;
    color: #b3ffff;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #4D4D4D;
}


body {
    background-color: #333333;
	color: white;
}
